<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.swansea.codenames">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Codenames">
        <activity
            android:name=".StartScreen"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenu"
            android:screenOrientation="sensorLandscape">
        </activity>
        <activity
            android:name=".Settings"
            android:screenOrientation="sensorLandscape">
        </activity>
        <activity
            android:name=".ColourOptions"
            android:screenOrientation="sensorLandscape">
        </activity>
        <activity
            android:name=".LocalSetup"
            android:screenOrientation="sensorLandscape">
        </activity>
        <activity
            android:name=".OnlineSetup"
            android:screenOrientation="sensorLandscape">
        </activity>
        <activity
            android:name=".CreateGame"
            android:screenOrientation="sensorLandscape">
        </activity>
        <activity
            android:name=".JoinGame"
            android:screenOrientation="sensorLandscape">
        </activity>
        <activity
            android:name=".GameOptions"
            android:screenOrientation="sensorLandscape">
        </activity>
        <activity
            android:name=".LocalGame"
            android:screenOrientation="sensorLandscape">
        </activity>
        <activity
            android:name=".OnlineGame"
            android:screenOrientation="sensorLandscape">
        </activity>
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

</manifest>